Package: com.person.ibypass
Name: IngressBypass
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A bypass that should allow you to play Ingress while jailbroken
Maintainer: xxhepersonx
Author: xxhepersonx
Section: Tweaks
Version: 0.0.1
Installed-Size: 120
