Package: com.person.ibypass
Name: IngressBypass
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: xxhepersonx
Author: xxhepersonx
Section: Tweaks
