Package: com.person.ilr
Name: IconLabelRemover
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Removes Icon Labels. No settings to configure! Tested on iOS 11
Maintainer: xxthepersonx
Author: xxthepersonx
Section: Tweaks
